@use 'resets';
$spacer: 1em;

body {
  font-family: 'Montserrat', Nunito, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: #4e5150;
  padding: $spacer;
  max-width: 480px;
  margin-inline: auto;

  @media (min-width: 850px) {
    max-width: 900px;
    display: grid;
    grid-template: repeat(2, auto) / 1fr 45%;
    grid-template-areas: 'header header' 'contact checkout';
    column-gap: $spacer * 4;
    align-items: start;
  }
}
h1 {
  font-size: 2rem;
  margin-bottom: $spacer * 0.7;
  grid-area: header;
}
.checkout {
  background-color: hsl(0, 0%, 95%);
  border-radius: 12px;
  padding: $spacer * 1.5;
  grid-area: checkout;

  &__item {
    display: grid;
    grid-template: repeat(2, auto) / 40% auto;
    grid-template-areas: 'img header' 'img count';
    column-gap: $spacer * 1.5;
    @media (max-width: 430px) {
      align-items: center;
    }

    &:nth-child(2) {
      margin-block: $spacer * 2.5 $spacer * 5;
      @media (max-width: 430px) {
        margin-bottom: $spacer * 3;
      }
    }

    & > img {
      grid-area: img;
      width: 100%;
      border-radius: 13px;
    }
    &__header {
      grid-area: header;
      h2 {
        font-size: 1rem;
        margin-bottom: $spacer * 0.5;
        @media (max-width: 430px) {
          font-size: 0.9rem;
          margin-bottom: 0;
        }
        @media (min-width: 850px) {
          margin-bottom: $spacer * 0.2;
        }
      }
      .price {
        color: #f2994a;
        margin-right: $spacer;
        font-size: 1.1rem;
        @media (max-width: 430px) {
          font-size: 0.95rem;
        }
      }
      .real-price {
        text-decoration: line-through;
        font-size: 0.95rem;
        @media (max-width: 430px) {
          font-size: 0.85rem;
        }
      }
    }
    &__count {
      grid-area: count;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: auto;
      border: 1px solid #828282;
      border-radius: 14px;
      width: min(85%, 164px);
      padding: $spacer;
      font-size: 1.1rem;
      @media (max-width: 430px) {
        padding: $spacer * 0.5;
      }
      @media (min-width: 850px) {
        padding: $spacer * 0.8;
      }

      img {
        width: min(24%, 30px);
        padding: $spacer * 0.4;
        background-color: #e0e0e0;
        border-radius: 4px;
        cursor: pointer;
        @media (max-width: 430px) {
          width: min(30%, 29px);
        }
      }
    }
  }
  &__footer {
    margin-block: $spacer * 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333333;
  }
}

.contact {
  margin-top: $spacer * 2;
  grid-area: contact;
  @media (min-width: 850px) {
    margin-top: 0;
  }

  &__info--two {
    margin-top: $spacer * 2;
  }
  h2 {
    color: #333333;
    font-size: 1.3rem;
    margin-bottom: $spacer * 0.5;
  }
  label {
    font-size: 0.95rem;
  }
  .input-container {
    position: relative;
    margin-block: $spacer * 0.25 $spacer;

    img {
      position: absolute;
      inset: 50% auto auto $spacer;
      transform: translateY(-50%);
      width: min(7%, 21px);

      &.dropdown-arrow {
        inset: 50% $spacer auto auto;
        padding: $spacer * 0.3;
        background-color: #e0e0e0;
        border-radius: 4px;
        object-fit: contain;
        width: min(9%, 25px);
      }
    }
  }
  input:not([type='checkbox']) {
    display: block;
    width: 100%;
    appearance: none;
    border: 1px solid #828282;
    border-radius: 12px;
    padding: $spacer * 0.5;
    padding-left: $spacer * 3;
  }
  input[type='checkbox'] {
    width: 16px;
    aspect-ratio: 1 / 1;
    border: 1px solid #828282;
    border-radius: 4px;
    accent-color: #333333;
    cursor: pointer;
    margin-right: $spacer * 0.5;
  }
  .double-input {
    display: flex;
    gap: $spacer;

    #country {
      padding-right: $spacer * 3;
    }
    img {
      width: 20px;
      &.dropdown-arrow {
        width: 25px;
      }
    }
  }
  button {
    display: block;
    appearance: none;
    background-color: #f2994a;
    color: #fff;
    border: none;
    margin-left: auto;
    font-size: 1.2rem;
    padding: $spacer * 0.7 $spacer * 1.5;
    border-radius: 12px;
    cursor: pointer;
    margin-top: $spacer;
  }
}
